.side-menu__groups__group
  .side-menu__groups__group__name
    aaaaaaaa
  .side-menu__groups__group__massage
    kyo
.side-menu__groups__group
  .side-menu__groups__group__name
    aaaaaaaa
  .side-menu__groups__group__massage
    kyo
.side-menu__groups__group
  .side-menu__groups__group__name
    aaaaaaaa
  .side-menu__groups__group__massage
    kyo  
.side-menu__groups__group
  .side-menu__groups__group__name
    aaaaaaaa
  .side-menu__groups__group__massage
    kyo  
.side-menu__groups__group
  .side-menu__groups__group__name
    aaaaaaaa
  .side-menu__groups__group__massage
    kyo  
.side-menu__groups__group
  .side-menu__groups__group__name
    aaaaaaaa
  .side-menu__groups__group__massage
    kyo  
.side-menu__groups__group
  .side-menu__groups__group__name
    aaaaaaaa
  .side-menu__groups__group__massage
    kyo  
.side-menu__groups__group
  .side-menu__groups__group__name
    aaaaaaaa
  .side-menu__groups__group__massage
    kyo  
.side-menu__groups__group
  .side-menu__groups__group__name
    aaaaaaaa
  .side-menu__groups__group__massage
    kyo  
.side-menu__groups__group
  .side-menu__groups__group__name
    aaaaaaaa
  .side-menu__groups__group__massage
    kyo  
.side-menu__groups__group
  .side-menu__groups__group__name
    aaaaaaaa
  .side-menu__groups__group__massage
    kyo  