.messages__message
  .messages__message__info
    %p.messages__message__info__user-name
      name
    %p.messages__message__info__date
      2019/07/02(Tue) 16:25:30
  %p.messages__message__text
  aaaaaaa
.messages__message
  .messages__message__info
    %p.messages__message__info__user-name
      name
    %p.messages__message__info__date
      2019/07/02(Tue) 16:25:30
  %p.messages__message__text
  aaaaaaa
.messages__message
  .messages__message__info
    %p.messages__message__info__user-name
      name
    %p.messages__message__info__date
      2019/07/02(Tue) 16:25:30
  %p.messages__message__text
  aaaaaaa
.messages__message
  .messages__message__info
    %p.messages__message__info__user-name
      name
    %p.messages__message__info__date
      2019/07/02(Tue) 16:25:30
  %p.messages__message__text
  aaaaaaa
.messages__message
  .messages__message__info
    %p.messages__message__info__user-name
      name
    %p.messages__message__info__date
      2019/07/02(Tue) 16:25:30
  %p.messages__message__text
  aaaaaaa
.messages__message
  .messages__message__info
    %p.messages__message__info__user-name
      name
    %p.messages__message__info__date
      2019/07/02(Tue) 16:25:30
  %p.messages__message__text
  aaaaaaa
  .messages__message
  .messages__message__info
    %p.messages__message__info__user-name
      name
    %p.messages__message__info__date
      2019/07/02(Tue) 16:25:30
  %p.messages__message__text
  aaaaaaa
.messages__message
  .messages__message__info
    %p.messages__message__info__user-name
      name
    %p.messages__message__info__date
      2019/07/02(Tue) 16:25:30
  %p.messages__message__text
  aaaaaaa
.messages__message
  .messages__message__info
    %p.messages__message__info__user-name
      name
    %p.messages__message__info__date
      2019/07/02(Tue) 16:25:30
  %p.messages__message__text
  aaaaaaa